<section id="cookies_setup" class="cookies-setup small reveal" data-reveal aria-labelledby="modal-heading">
  <div class="header">
    <h2 id="modal-heading"><%= t("cookies_setup.title") %></h2>
    <button class="close-button" aria-label="<%= t("admin.shared.close_modal") %>" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= t("cookies_setup.description") %><p>

  <h3><%= t("cookies_setup.essentials.title") %></h3>
  <p><%= t("cookies_setup.essentials.description") %></p>
  <div class="cookies-vendors">
    <ul>
      <li>
        <%= render Cookies::SwitchComponent.new(:essential_cookies,
                                                label: t("cookies_setup.essentials.title"),
                                                description: t("cookies_setup.essentials.button.description"),
                                                checked: true,
                                                disabled: true) %>
      </li>
    </ul>
  </div>

  <h3><%= t("cookies_setup.third_party.title") %></h3>
  <p><%= t("cookies_setup.third_party.description") %></p>
  <p><%= t("cookies_setup.third_party.activation") %></p>

  <% if third_party_cookies %>
    <div class="cookies-vendors">
      <ul>
        <li>
          <%= render Cookies::SwitchComponent.new(:allow_cookies,
                                                  label: t("cookies_setup.third_party.title"),
                                                  description: third_party_cookies,
                                                  checked: cookies["allow_cookies#{version_name}"] == "all",
                                                  disabled: true) %>
        </li>
      </ul>
    </div>
  <% else %>
    <%= render Cookies::Vendors::FormComponent.new(vendors) %>
  <% end %>

  <hr>

  <%= form_tag(cookies_consent_path, method: :post) do %>
    <%= hidden_field_tag :allow_cookies, "all" %>
    <button type="submit" class="accept"><%= t("cookies_setup.accept_all") %></button>
  <% end %>
  <%= form_tag(cookies_consent_path, method: :post) do %>
    <%= hidden_field_tag :allow_cookies, "essential" %>
    <button type="submit" class="reject"><%= t("cookies_setup.accept_essentials") %></button>
  <% end %>
</section>
