<div class="cookies-consent">
  <h2><%= t("cookies_consent.title") %></h2>
  <p><%= t("cookies_consent.message") %></p>
  <% if more_info_link.present? %>
    <p><%= link_to t("cookies_consent.more_info_link"), more_info_link %></p>
  <% end%>

  <%= form_tag(cookies_consent_path, method: :post) do %>
    <%= hidden_field_tag :allow_cookies, "all" %>
    <button type="submit" class="accept"><%= t("cookies_consent.accept") %></button>
  <% end %>

  <% if third_party_cookies? %>
    <%= form_tag(cookies_consent_path, method: :post) do %>
      <%= hidden_field_tag :allow_cookies, "essential" %>
      <button type="submit" class="reject"><%= t("cookies_consent.reject") %></button>
    <% end %>
    <button data-open="cookies_setup" class="setup"><%= t("cookies_consent.setup") %></button>
  <% end %>
</div>
